<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-6 col-xs-11 col">
      <div class="signup-form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" novalidate>
          <h2>Sign Up</h2>
          <p>Please fill in this form to create an account!</p>
          <hr />
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  id="firstName"
                  [placeholder]="error_msg.first_name.label"
                  pattern="^[a-zA-Z]+$"
                  required
                  ngModel
                  #firstName="ngModel"
                  minlength="3"
                  maxlength="25"
                />
                <div
                  id="errorFn"
                  *ngIf="
                    firstName.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="alert alert-danger mt-2 font-14"
                  role="alert"
                >
                  {{ error_msg.first_name.error }}
                </div>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="lastName"
                  [placeholder]="error_msg.last_name.label"
                  pattern="^[a-zA-Z]+$"
                  required
                  ngModel
                  #lastName="ngModel"
                  maxlength="25"
                />
                <div
                  *ngIf="
                    !lastName?.valid && (lastName?.dirty || lastName?.touched)
                  "
                  class="alert alert-danger mt-2 font-14"
                  role="alert"
                >
                  {{ error_msg.last_name.error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              [placeholder]="error_msg.email.label"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
              ngModel
              #email="ngModel"
            />
            <div
              *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              class="alert alert-danger mt-2 font-14"
              role="alert"
            >
              {{ error_msg.email.error }}
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              [placeholder]="error_msg.password.label"
              required
              ngModel
              #password="ngModel"
              pattern="^[a-zA-Z]+$"
              minlength="8"
              maxlength="25"
            />
            <div
              *ngIf="!password?.valid && (password?.dirty || password?.touched)"
              class="alert alert-danger mt-2 font-14"
              role="alert"
            >
              {{ error_msg.password.error }}
              <ul class="list font-weight-light">
                <li *ngFor="let errorItems of error_msg.password.error_list">
                  {{ errorItems }}
                </li>
              </ul>
            </div>
            <div
              class="alert alert-danger mt-2 font-14"
              role="alert"
              *ngIf="
                password?.valid &&
                (password?.value?.indexOf(firstName.value) >= 0 ||
                  password?.value?.indexOf(lastName.value) >= 0)
              "
            >
              {{ error_msg.password.no_name_error }}
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="confirmPassword*"
              required
              ngModel
              #confirmPassword="ngModel"
              pattern="^[a-zA-Z]+$"
              minlength="8"
              maxlength="25"
            />
            <div
              *ngIf="
                !confirmPassword?.valid &&
                (confirmPassword?.dirty || confirmPassword?.touched)
              "
              class="alert alert-danger mt-2 font-14"
              role="alert"
            >
              {{ error_msg.password.error }}
            </div>
            <div
              class="alert alert-danger mt-2 font-14"
              role="alert"
              *ngIf="
                confirmPassword?.valid &&
                confirmPassword.value !== password.value
              "
            >
              {{ error_msg.password.confirm_password }}
            </div>
          </div>
          <div
            *ngIf="submitted && !signUpForm?.valid"
            class="alert alert-danger mt-2 font-14"
            role="alert"
          >
            {{ error_msg.form.error }}
          </div>
          <div
            *ngIf="apiError"
            class="alert alert-danger mt-2 font-14"
            role="alert"
          >
            {{ error_msg.form.endpoint_error }}
          </div>
          <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary btn-lg">
              Sign Up
            </button>
          </div>
        </form>
        <div class="hint-text">
          Already have an account? <a href="# ">Login here</a>
        </div>
      </div>
    </div>
  </div>
</div>
